.movimiento {
  top: 70px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.titulo {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  padding: 40px 20px;
  font-size: 28px;
  position: relative; }
  .titulo:after {
    content: "";
    position: absolute;
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
    width: 100px;
    height: 15px;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .titulo:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background: #5d5d5d;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    bottom: 10px; }
