@charset "UTF-8";
.movimiento {
  top: 70px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.titulo {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  padding: 40px 20px;
  font-size: 28px;
  position: relative; }
  .titulo:after {
    content: "";
    position: absolute;
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
    width: 100px;
    height: 15px;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .titulo:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background: #5d5d5d;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    bottom: 10px; }

.contadores-contenedor {
  position: relative;
  top: -80px; }

.contadores {
  background: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75); }

.contadores-contenido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  height: 160px; }
  .contadores-contenido span {
    font-size: 40px;
    color: #5d5d5d;
    height: 40px; }
  .contadores-contenido h2, .contadores-contenido p {
    font-family: "Raleway", sans-serif;
    margin: 3px; }
  .contadores-contenido h2 {
    font-size: 30px; }
  .contadores-contenido p {
    color: #5d5d5d; }
  .contadores-contenido:nth-child(1) {
    -webkit-box-shadow: inset -10px 0px 0px -9px rgba(0, 0, 0, 0.2);
    box-shadow: inset -10px 0px 0px -9px rgba(0, 0, 0, 0.2); }
  .contadores-contenido:nth-child(2) {
    -webkit-box-shadow: inset -10px 0px 0px -9px rgba(0, 0, 0, 0.2);
    box-shadow: inset -10px 0px 0px -9px rgba(0, 0, 0, 0.2); }

.titulo-comienzo {
  top: -40px; }

.sobremi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.sobremi-texto {
  width: 50%;
  margin: 10px;
  font-family: "Raleway", sans-serif;
  line-height: 25px;
  text-align: justify; }

.sobremi-imagenes {
  border: 1px solid #e8e8e8;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 125px);
  grid-gap: 4px;
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75); }

.trabajo-contenedor {
  background-image: url(../imagenes/fondo-servicios.jpeg);
  background-size: cover;
  position: relative;
  background-attachment: fixed; }
  .trabajo-contenedor::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93, 93, 93, 0.9); }

.trabajo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99; }

.trabajo-contenido {
  width: 350px;
  margin: 20px 10px 10px 10px;
  padding: 10px;
  color: #5d5d5d;
  text-align: center;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 190px;
  color: white; }
  .trabajo-contenido p {
    padding: 5px; }
  .trabajo-contenido:hover {
    color: #f5f5f5;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .trabajo-contenido:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: white;
    -webkit-box-shadow: 0 -190px white;
    box-shadow: 0 -190px white;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 400; }
  .trabajo-contenido:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 0%;
    bottom: 0;
    left: 0;
    background: white;
    -webkit-box-shadow: 350px 0px white;
    box-shadow: 350px 0px white;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 400; }
  .trabajo-contenido:hover:after {
    width: 100%;
    -webkit-box-shadow: 0 -190px white;
    box-shadow: 0 -190px white;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .trabajo-contenido:hover:before {
    height: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

.trabajo-top span {
  font-size: 40px; }

.trabajo-top h3 {
  font-family: "Raleway", sans-serif;
  padding: 5px;
  margin: 5px 0px; }

/* <div class="segundo-contenedor largo">
      <div class="segundo distancia">
          <div class="estudios-contenedor">
              <h2 class="titulo">Educación</h2>
          </div>
          <div class="trabajos-contenedor">
              <h2 class="titulo">Experiencia Laboral</h2>
          </div>
      </div>
  </div>*/
.segundo-contenedor {
  background: #f5f5f5; }

.segundo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .segundo h2 {
    text-align: center; }

.estudios-contenedor {
  width: 45%;
  margin: 5px;
  background: white;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  padding: 20px; }

.trabajos-contenedor {
  width: 45%;
  margin: 5px;
  background: white;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  padding: 20px; }

.estudios-contenido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  color: #5d5d5d; }

.estudios-izquierda {
  width: 30%;
  text-align: center; }
  .estudios-izquierda span {
    font-size: 40px; }
  .estudios-izquierda h3 {
    font-family: "Raleway", sans-serif; }

.estudio-derecha {
  width: 70%; }
  .estudio-derecha h4 {
    font-family: "Raleway", sans-serif;
    font-size: 20px; }
