@import "_lg-grid";   
 
.contadores-contenedor{
    position: relative;
    top: -80px;
} 
.contadores{
    background: $color-fondo;
    @include display;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);

}
.contadores-contenido{
    @include display;
    flex-direction: column;
    flex: auto;
    height: 160px;
    
    span{
        font-size: 40px;
        color: $color-negro;
        height: 40px;
    }
    h2,p{
        font-family: $fuente;
        margin: 3px;
    }
    h2{
        font-size: 30px;
    }
    p{
        color: $color-negro;
    }
    &:nth-child(1){
        box-shadow: inset -10px 0px 0px -9px rgba(0,0,0,0.2);
    }
     &:nth-child(2){
        box-shadow: inset -10px 0px 0px -9px rgba(0,0,0,0.2);
    }
}
.titulo-comienzo{
    top: -40px;    
}
.sobremi{
    display: flex;
    justify-content: space-between;
}
.sobremi-texto{
    width: 50%;
    margin: 10px;
    font-family: $fuente;
    line-height: 25px;
    text-align: justify;
}
.sobremi-imagenes{
    border: 1px solid $color-fondo2;
    display: grid;
    grid-template-columns: repeat(2,250px);
    grid-template-rows: repeat(2,125px);
    grid-gap: 4px;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
}

.trabajo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.trabajo-contenido{
    width: 30%;
    margin: 20px 10px 10px 10px;
    
    color: $color-negro;
    text-align: center;
    flex: auto;
    transition: all .3s;
    p{
        padding: 5px;
    }
    &:hover{
        color: black;
        transition: all .3s;
    }
}
.trabajo-top{
    span{
        font-size: 40px;
    }
    h3{
        font-family: $fuente;
        padding: 5px;
        margin: 5px 0px;
    }
}