@import "_lg-grid";
.contadores-contenedor {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.contadores {
    background: $color-fondo;
    @include display;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.contadores-contenido {
    @include display;
    flex-direction: column;
    flex: auto;
    height: 160px;
    span {
        font-size: 40px;
        color: black;
        height: 40px;
    }
    h2,
    p {
        font-family: $fuente;
        margin: 3px;
        color: $color-resaltante;
    }
    h2 {
        font-size: 30px;
    }
    p {
        color: $color-negro;
    }
    &:nth-child(1) {
        box-shadow: inset -10px 0px 0px -9px rgba(0, 0, 0, 0.2);
    }
    &:nth-child(2) {
        box-shadow: inset -10px 0px 0px -9px rgba(0, 0, 0, 0.2);
    }
}

.titulo-comienzo {
    margin-top: 150px;
}

.sobremi {
    display: flex;
    justify-content: space-between;
    padding: $padding-contenedor;
}

.sobremi-texto {
    width: 50%;
    margin: 10px;
    font-family: $fuente;
    line-height: 25px;
    text-align: justify;
}

.sobremi-imagenes {
    width: 40%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    img {
        width: calc(50% - 4px);
        margin: 2px;
    }
}

.trabajo-contenedor {
    background-image: url(../imagenes/fondo-servicios.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($color-negro, .9);
    }
}

.trabajo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 99;
}

.trabajo-contenido {
    width: 350px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    color: $color-negro;
    text-align: center;
    position: relative;
    transition: all .3s;
    height: 190px;
    color: white;
    h3 {
        color: $color-resaltante;
    }
    p {
        padding: 5px;
    }
    &:hover {
        color: $color-fondo;
        transition: all .3s;
    }
    &:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: white;
        box-shadow: 0 -190px white;
        transition: all .5s;
        z-index: 400;
    }
    &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 0%;
        bottom: 0;
        left: 0;
        background: white;
        box-shadow: 350px 0px white;
        transition: all .5s;
        z-index: 400;
    }
    &:hover:after {
        width: 100%;
        box-shadow: 0 -190px white;
        transition: all .5s;
    }
    &:hover:before {
        height: 100%;
        transition: all .5s;
    }
}

.trabajo-top {
    span {
        font-size: 40px;
    }
    h3 {
        font-family: $fuente;
        padding: 5px;
        margin: 5px 0px;
    }
}

.segundo-contenedor {
    background: $color-fondo;
    margin-top: 20px;
}

.segundo {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    h2 {
        text-align: center;
    }
}

.estudios-contenedor {
    width: 45%;
    margin: 5px;
    background: white;
    flex: auto;
    border: 1px solid $color-fondo2;
    padding: 0 $padding-contenedor;
}

.trabajos-contenedor {
    width: 45%;
    margin: 5px;
    background: white;
    flex: auto;
    border: 1px solid $color-fondo2;
    padding: 0 $padding-contenedor;
}

.estudios-contenido {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: $color-negro;
}

.estudios-izquierda {
    width: 30%;
    text-align: center;
    span {
        font-size: 40px;
    }
    h3 {
        font-family: $fuente;
    }
}

.estudio-derecha {
    width: 70%;
    h4 {
        font-family: $fuente;
        font-size: 20px;
        color: $color-resaltante;
    }
}

.trabajo .titulo {
    color: white;
    &::before {
        background: white;
    }
    &::after {
        border-color: white;
    }
}

.tags {
    @include display;
    label {
        margin: 5px;
        padding: 10px 20px;
        text-align: center;
        border: 1px solid $color-resaltante;
        cursor: pointer;
        transition: all .3s;
        flex: auto;
        width: 33%;
        &:hover {
            background: rgba($color-resaltante, .5);
            color: white;
            transition: all .3s;
        }
    }
}


/*<div class="trabajos-contenedor largo">
        <div class="trabajos distancia">
            <div class="trabajos-contenido">
                <img src="imagenes/trabajos/2.jpg" alt="">
            </div>*/

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
        display: none;
    }
}

.work-contenido {
    margin: 5px;
    width: 30%;
    overflow: hidden;
    height: 300px;
    border: 1px solid $color-resaltante;
    border-radius: 5px;
    position: relative;
    display: none;
    flex: auto;
    img {
        width: 100%;
        filter: grayscale(10);
        transition: all .3s;
    }
    &:hover img {
        transform: scale(1.5);
        filter: blur(2px);
        transition: all .3s;
    }
    &:hover .work-fondo {
        background: rgba(black, .8);
        transition: all .3s;
    }
    &:after {
        content: "";
        position: absolute;
        width: 80%;
        height: 3px;
        background: white;
        top: 10%;
        left: 150%;
        transform: translateY(-50%)translateX(-50%);
    }
    &:before {
        content: "";
        position: absolute;
        width: 80%;
        height: 3px;
        background: white;
        bottom: 10%;
        left: -50%;
        z-index: 10;
        transform: translateY(-50%)translateX(-50%);
        transition: all .3s;
    }
    &:hover:before {
        left: 50%;
        background: white;
        transition: all .3s;
    }
    &:hover:after {
        left: 50%;
        transition: all .3s;
    }
    &:hover .icon-search {
        left: 0%;
        transition: all .3s;
    }
    &:hover .boton-enlace {
        left: 0%;
        transition: all .3s;
    }
}

.work-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s;
}

.dentro {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .boton-enlace,
    .icon-search {
        color: white;
        font-family: $fuente;
        font-size: 20px;
        position: relative;
    }
    .boton-enlace {
        left: 200%;
        transition: all .3s;
    }
    .icon-search {
        left: -200%;
        margin: 10px;
        font-size: 40px;
    }
}

#todo:checked~.work-contenido {
    display: block;
}

#diseño:checked~.web {
    display: block;
}

#diseño:checked~.identidad {
    display: none;
}

#identidad:checked~.identidad {
    display: block;
}

#identidad:checked~.web {
    display: none;
}

.formulario {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px;
    input,
    textarea {
        padding: 5px;
        line-height: 20px;
        margin: 10px;
        border: 1px solid #d1d1d1;
        font-family: $fuente;
    }
    input[type=submit] {
        background: $color-resaltante;
        color: white;
        font-family: $fuente;
        font-weight: 800;
        border: 1px solid white;
        padding: 10px 20px;
    }
}

.facebook {
    width: 30%;
    margin: 5px;
}

footer {
    background: $color-negro;
    padding: 20px;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: $fuente;
    h3 {
        font-weight: normal;
    }
    a {
        padding: 5px;
        margin: 5px;
        font-size: 20px;
        color: white;
    }
}

.facebook {
    overflow: hidden;
    iframe {
        width: 100%;
    }
}

@media screen and (max-width:920px) {
    .trabajo-contenido {
        margin: 5px;
        width: 250px;
        flex: auto;
        &:hover:after {
            box-shadow: none;
            display: none;
        }
        &:before {
            box-shadow: none;
            display: none;
        }
    }
}

@media screen and (max-width:768px) {
    .sobremi {
        flex-direction: column;
        align-items: center;
    }
    .sobremi-texto {
        width: 100%;
    }
    .sobremi-imagenes {
        width: 80%;
    }
    .segundo {
        flex-direction: column;
    }
    .estudios-contenedor {
        width: 100%;
    }
    .trabajos-contenedor {
        width: 100%;
    }
    .work-contenido {
        width: 45%;
        flex: auto;
    }
}

@media screen and (max-width:530px) {
    .estudios-contenido {
        flex-direction: column;
        h3 {
            text-align: center;
            width: 100%;
        }
        h4 {
            text-align: center;
            font-size: 20px;
            margin: 5px;
        }
    }
    .estudios-izquierda,
    .estudio-derecha {
        width: 100%;
    }
    .tags {
        flex-direction: column;
        label {
            width: 100%;
            flex: auto;
            margin: 5px;
        }
    }
    .formulario {
        flex-direction: column;
        form {
            width: 100%;
        }
        .facebook {
            width: 100%;
            iframe {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .contadores {
        flex-wrap: wrap;
    }
    .contadores-contenido {
        text-align: center;
        flex: auto;
        width: 50%;
        &:nth-child(2) {
            box-shadow: inset 0px 0px 0px -9px rgba(0, 0, 0, 0.2);
        }
        &:nth-child(3) {
            box-shadow: inset 0px 10px 0px -9px rgba(0, 0, 0, 0.2);
        }
    }
    .sobremi-imagenes {
        height: 200px;
        img {
            height: calc(100px - 2px);
        }
    }
    .work-contenido {
        width: 100%;
        flex: auto;
    }
    .facebook {
        iframe {}
    }
    .titulo-comienzo {
        margin-top: 180px;
    }
}

.parrafo-enlace {
    color: black;
    font-weight: 800;
}

@media screen and (max-width:369px) {
    .sobremi-imagenes {
        width: 100%;
        margin: 0;
        height: 150px;
        img{
            height: 50%;
        }
    }
    .footer {
        flex-direction: column;
    }
    .logo {
        img {
            display: none;
        }
    }
    .logo-texto {
        h1,
        h3 {
            font-size: 15px;
        }
    }
    .titulo-comienzo {
        margin-top: 400px;
    }
    .contadores-contenedor {
        top: 120%;
    }
    .contadores-contenido {
        width: 100%;
        &:nth-child(1) {
            box-shadow: 0px 10px 3px -10px rgba(0, 0, 0, 0.75);
        }
        &:nth-child(2) {
            box-shadow: 0px 10px 3px -10px rgba(0, 0, 0, 0.75);
        }
    }
    .trabajo {
        height: auto;
    }
    .trabajo-contenedor {
        height: 1200px;
    }
    .formulario {
        form {
            padding: 0;
            flex: auto;
            input,
            textarea {
                flex: auto;
            }
        }
    }
    .trabajo-contenedor{
        align-items: flex-start;
    }
    .trabajo-contenedor{
        height: 1200px;
    }
    .facebook{
        width: 100% !important;
        .fb-page{
            width: 90% !important;
        }
    }
}
